{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  
  .hidden-option {
    display: none;
  }

  a {
    list-style: none;
    color: azure;
  }

  a:hover {
    color: rgb(218, 164, 48);
    text-decoration: none;
  }

  .tab {
    overflow: hidden;
    background-color: transparent;
    width: 300px;
  }

  .tab a {
    font-family: inherit;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.3s;
    color: azure;
    border: none;
  }

  .tab a:hover {
    background-color: #ddd;
    color: rgb(56, 54, 54);
  }

  .tab a.active {
    background-color: #ccc;
    color: rgb(56, 54, 54);
  }

  .tabcontent {
    display: none;
    border-top: none;
  }

  .page {
    background: white;
    display: block;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }

  .print-only {
    /* display: none; */
    height: auto;
    width: auto;
    overflow-y: auto;
    border: none;
    /* box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.3),
          inset -2px -2px 5px 2px rgba(0, 0, 0, 0.3),
          inset 2px -2px 5px 2px rgba(0, 0, 0, 0.3),
          inset -2px 2px 5px 2px rgba(0, 0, 0, 0.3); */
  }

  .card-custom {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .card-text {
    margin-bottom: 0.5rem;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info-item {
    display: flex;
    align-items: center;
  }

  .label {
    margin: 0;
    width: 130px; 
  }

  .value {
    margin: 0;
    flex: 1;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

 .info-item h6.label {
    margin-left: 10px;
    display: inline-block;
  } 

  .info-item p.value {
    margin-left: 10px;
  }

  .bank-info {
    margin-bottom: 10px;
  }

  .bank-info span {
    padding: 5px; 
  }

  .modal{
    z-index: 9999;
    overflow: scroll;
  }

  .btn-outline-warning:hover{
    color: black;
    font-weight:bolder;
  }


  #Overview tbody tr td{
    border: none;
  }

  .medium_btn{
    font-size: 12px; 
    padding: 10px 20px;
    margin-left: 1px;
  }

  #overview_btn{
    background-color: #ffae1f; 
    color: black; 
    font-weight: bold;
  }

  .modal .btn-outline-warning:hover{
    color: black !important;
  }

  .modal{
    margin-top: 3.5%;
  }
  
  .dropdown-item:hover{
    cursor: pointer;
  }

  .info-label {
    flex: 0 0 50%;
  }

  .info-value {
    flex: 1;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .page[size="A4"] {
    overflow: hidden;
  }
  
 
  .small_btn{
    padding: 5px 9px;
    height: 50%;
    margin-top: 1%;
  }

  .xsmall_btn{
    padding: 6px;
    margin-top: 1%;
  }

  .comments-table-container {
    max-height: 30vh;
    overflow-y: scroll;
  }

  .history-table-container {
    max-height: 50vh;
    overflow-y: scroll;
  }

  .comments-table-container table, .history-table-container table {
    width: 100%;
    /* border-collapse: collapse; */
  }

.comments-table-container td, .history-table-container td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    color: white;
    text-align: center;
  }

  .comments-table-container th, .history-table-container th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    color: white;
    text-align: center;
  }
  @media print{
    body{
      visibility: hidden !important;  
    }

    .printContainer {
      visibility: visible !important;  
      position: absolute;
      z-index: 99999;
      top: 0;
      bottom: 0;
      width: 70vh;
      height: 10%;
    } 
  }
  
</style>
<div class="body-wrapper">
  <div class="container-fluid text-light">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
           {% if log_id.user_type == 'Staff' %} <li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>{% endif %}
           {% if log_id.user_type == 'Company' %} <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>{% endif %}
            <li class="breadcrumb-item"><a href=" " class="text-warning-emphasis">Payroll</a></li>
            <li class="breadcrumb-item"><a href=" " class="text-warning-emphasis">Salary Details</a></li>
            <li class="breadcrumb-item" aria-current="page">Over view</li>
          </ol>
      </nav>
      <div class="row pt-3">
          <div class="col-sm-12">
              <div class="card mb-5">
                <div class="row" style="background-color: #252525;" >
                   <!-- Left Side: Table -->
                  <div class="col-md-12 col-lg-4" style="background-color: black; border-radius: 1vh;">
                    <div class="p-4">
                      <h6 class="pt-3" style="font-size: 1.8rem; color: white;">All Salary Details</h6>
                    
                      <div class="d-flex justify-content-between gap-1 mt-2 mr-4">
                       
                          <input type="text" id="search" class="form-control text-black bg-light mt-4 " placeholder="Search.." autocomplete="off" style="margin-right: 10%;">
                      
                          <a class="btn btn-outline-warning small_btn mt-4" id="sortbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" >
                            <i class="fa fa-sort mt-1" style="font-size: small;"></i>
                          </a>
                          <div class="dropdown-menu  ">
                            <a class="dropdown-item text-black" href="">All</a>
                            <a class="dropdown-item text-black" href="#" onclick="sortTable(0)">Employee Name</a>
                            <a class="dropdown-item text-black" href="#" onclick="sortTable(1)">Employee Salary</a>
                          </div>
                          <a class="btn btn-outline-warning small_btn mt-4" id="filterbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" >
                            <i class="fa fa-filter" style="font-size: small;"></i>
                          </a>
                          <div class="dropdown-menu ">
                            <a class="dropdown-item text-black" onclick="filterTable('All')">All</a>
                            <a class="dropdown-item text-black" onclick="filterTable('Active')">Active</a>
                            <a class="dropdown-item text-black" onclick="filterTable('Inactive')">Inactive</a>
                           
                          </div>
                          <a class="btn btn-outline-warning small_btn mt-4"  href="{% url 'CreateSalaryDetails' %}"><i class="fa fa-plus"></i></a>
                        </div>
                      
                      
                  
                    <div class="row">
                      <div class="col-md-12 mt-2">
                      <div class="table-responsive " >
                        <table class="table text-white" id="myTable">
                          
                          <tbody>
                              {% for employee in employees %}
                              <tr class="clickable-row" data-href="{{ employee.id }}">
                              
                                  <td>
                                    <span class="name"><b>{{ employee.employee.first_name|upper }} {{ employee.employee.last_name|upper }}</b></span><br><br>
                                    <span class="invNo">{{employee.employee.emp_number}}</span>
                                  </td>
                                  <td>
                                    <span style="float: right;" class="amt">&#8377;{{ employee.salary }}</span><br><br>
                                    <span style="float: right;" class="stat">{{employee.status}} </span>
                                  </td>
                                </tr>
                        
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-md-12 col-lg-8">
              <div  id="overviewdiv" style="background-color: black; border-radius: 1vh;">
                <div class="card-header p-4">
                  <h6 class="mt-3" style="font-size: 1.8rem; color: white;"> Salary Details</h6><br>
                  {% for message in messages %}
                  <h5>
                    <div class="alert alert-danger message text-center" style="color: black;" id="alert_danger">
                      {{ message }}
                      <a type="button" id="alert_close" class="close" data-dismiss="alert" aria-label="Close" style="float: right;">
                        <span aria-hidden="true" style="font-size: large; color: #68020F;">&times;</span>
                      </a>
                    </div>
                  </h5>
                  {% endfor %}


                <div style="display: flex;">
                
                  <div style="display: flex;  " class="col-md-6">
                    <div >
                      <a class="btn btn-outline-warning xsmall_btn ms-1" id="toggleButton1">
                        <i class="fa fa-eye" style="font-weight: bold; font-size: small;" id="overview_icon"></i> 
                        <span style="font-size: small;">Overview</span>
                      </a>
                      
                     
                    </div>
                 
                    
                    <div>
                      <a class="btn btn-outline-warning xsmall_btn ms-1"  id="toggleButton2">
                        <i class="fa fa-receipt" style="font-weight: bold;  font-size: small;" id="slip_icon"></i>
                        <span style="font-size: small;">Payslip</span> 
                      </a>
                      </div>
                
                  </div>
                  <div id="overviewSection" class="col-md-6 col-sm-12 " style="text-align: right; ">

                    {% if employee.DraftorSave == "Draft" %} 
                    <a href="{% url 'SalaryDetailsConvert' employee.id %}" class="btn btn-outline-warning xsmall_btn  ms-1">
                    <i class="fa fa-exchange"></i>
                    </a>
                    {% endif %}
                    <a href="{% url 'EditSalaryDetails' employee.id %}" class="btn btn-outline-warning xsmall_btn ms-1 "  title="Edit"><i class="fa fa-pencil"></i>
                    </a>
                    
                    <a href="{% url 'SalaryDetailsDelete' employee.id %}" class="  btn btn-outline-warning xsmall_btn  ms-1" class="btn btn-outline-warning btn-sm" onclick="return confirm('Are you sure you want to delete this Employee Salary Details ?')"  title="Delete"><i class="fa fa-trash"></i></button>
                    </a>

                
                    <a class="btn btn-outline-warning xsmall_btn  ms-1" href="" data-toggle="modal" data-target="#commentModal"
                      data-toggle="tooltip" title="comment">
                      <i class="fa fa-comment"></i></a>

                      
                       
                
                    
                 
                      <a class="btn btn-outline-warning xsmall_btn  ms-1" href="{% url 'SalaryDetailsActiveAndInnactive' employee.id  %}" >{{employee.status}}</a>
             
                      <a class="btn btn-outline-warning xsmall_btn ms-1" href="" data-toggle="modal" data-target="#commentModal2"
                        data-toggle="tooltip" title="history">
                        <i class="fa fa-history"></i>
                      </a>
                    </a>
                  </div>

                  <div id="payslipSection" class="col-md-6 col-sm-12" style="text-align: right; ">
                     

                  
            
                     

                    <button class="btn btn-outline-warning xsmall_btn  ms-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-share"></i> 
                  </button>
                  <ul   class="dropdown-menu   " aria-labelledby="dropdownMenuButton1">
                      <li><a onclick="shareViaWhatsApp()" class="dropdown-item text-dark" href="">WhatsApp</a></li>  
                      <li><a class="dropdown-item text-dark" data-target="#shareBillEmail " data-toggle="modal">Mail</a></li>  
                  </ul>
                  
                      &nbsp;

                    <a href=" " class=" text-dark">
                      <button class="btn btn-outline-warning xsmall_btn ms-1" onclick="printfun()" title=""><i class="fa fa-print "  ></i> </button>
                    </a>

                    &nbsp;

                    <a href=" " class=" text-dark">
                      <button id="pdflink" class="btn btn-outline-warning xsmall_btn  ms-1" title="pdf"><i class="fa fa-file-pdf " aria-hidden="true"></i></button>
                    </a>
                
                    
                  </div>

                </div>
              </div>
                <br>
       
                      
            
                      <div id="printdiv1" style="color:black; ">
                        <div class="row " style="background-color: #acaaaafd; margin-left:1px; margin-right: 1rem; ">
                          <div class="history_highlight pt-3 px-2 d-flex">
                            <div class="col-12 d-flex justify-content-start align-items-center">
                                {% if last_history %}{% if last_history.action == 'CREATED' %}<p class="m-0" style="font-size: 1.07rem; font-weight: 500; color: #017500;">Created by :</p>{% else %}<p class="m-0" style="font-size: 1.07rem; font-weight: 500; color: #E91E63;">Last Edited by :</p>{% endif %}{% endif %}
                                <span class="ms-2" style="font-size: 1.15rem; font-weight: 500; color: #383838;">{{last_history.login_details.first_name}} {{last_history.login_details.last_name}}</span>
                                <span class="ms-5" style="color: #383838;">{{last_history.date}}</span>
                            </div>
                          </div>
                         
                          <div class="row text-center">
                            <h1 class="text-black mt-3 ps-5" style="text-align: left;"># {{employee.employee.emp_number}}</h1>
                          <hr>
                          </div>
                          <div class="gen-info col-sm " style="padding-left: 3rem;  ">
                      
                      
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Employee Name:</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word; font-size: large;font-weight: bold;">{{employee.employee.first_name}} {{employee.employee.last_name}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Employee ID:</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;font-size: large;font-weight: bold;">{{employee.employee.emp_number}}</p>
                              </div>
                            </div>
                      
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for=""> Email :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.employee.email}}</p>
                              </div>
                            </div>
                      
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Location :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold" style="max-width: 15rem;word-wrap: break-word;">{{employee.employee.location}}</p>
                              </div>
                            </div>
                      
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Join Date :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.employee.joindate}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Salary :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.salary}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Designation :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.employee.designation}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Salary Date :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.salary_date}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Leave :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{attendance}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Casual Leave :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.casual_leave}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Holiday :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{holyday}}</p>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Working Day :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.total_working_days}}</p>
                              </div>
                            </div>
                            {% if employee.description %}
                            <div class="row mt-2">
                              <div class="col-5">
                                <p for="">Description :</p>
                              </div>
                              <div class="col-7">
                                <p class="bold " style="max-width: 15rem;word-wrap: break-word;">{{employee.description}}</p>
                              </div>
                            </div>
                            {% endif %}
                      
                          </div>
                          
                          <div class="col-md-6 px-3">
                            <div class="px-3 py-3 mb-3" style="background-color: black; border-radius: 6px;">
                              <h4 class="text-white my-3" style="text-align: center;">Salary Details</h4>
                              <hr class="text-white" style="margin-left: 5%; margin-right: 5%">
                              <div class="d-flex justify-content-between mb-4">
                                  <h6 class="text-white" style="font-weight: 600;">Employee Status</h6>
                                  {% if employee.DraftorSave == "Draft" %}  <span class="text-info h5" style="font-weight: 600;">DRAFT</span> {% else %} <span class="text-warning h5"  style="font-weight: 600;">SAVED</span> {% endif %}
                              </div>
                              <div class="d-flex justify-content-between mb-4 text-white">
                                  <h6 class="text-white">Basic Salary </h6>
                                  {{employee.employee.salary}}
                              </div>
                              <div class="d-flex justify-content-between mb-4 text-white">
                                  <h6 class="text-white">Conveyance Allowance</h6>
                                  {{allowance_amounts.Conveyance_Allowance}}
                              </div>
                         
                              <div class="d-flex justify-content-between mb-4 text-white">
                                  <h6 class="text-white">HRA</h6>
                                  {{allowance_amounts.HRA}}
                              </div>
                  
                              <div class="d-flex justify-content-between mb-4 text-white">
                                  <h6 class="text-white">Other Allowance </h6>
                                  {{allowance_amounts.Other_Allowance}}
                              </div>
                           
                             
                              <div class="d-flex justify-content-between mb-4 text-white">
                                  <h6 class="text-white">Other Cuttings</h6>
                                  {{employee.other_cuttings }}
                              </div>
                            
                              <div class="d-flex justify-content-between mb-4 text-white">
                                  <h6 class="text-white">Add bonus</h6>
                                  {{employee.add_bonus}}
                              </div>
                             
                             
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="slipdiv" style="border-radius: 2vh; display: none;">
                        <div class="my-5 page" size="A4">
                            <div class="row" style="margin-top: 20%;" id="printslip">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ml-3">
                                    <div class="card bg-white"
                                        style="border: 1px dotted black; box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);">
                                        <div class="mt-2" style="text-align: center;">
                                            <div class="text-center" style="font-size: 3vh; color: black;">
                                                <b>{{data.company.company_name}} </b>
                                            </div>
                                            <span style="font-size: x-small; color: black;">
                                                {{ data.company.address }} <br>
                                                {{data.company.city}},
                                                {{data.company.state}}
                                                {{data.company.pincode}} <br>
                                                {{ data.company.user.email }} <br>
                                                {{ data.company.contact }}
                                            </span>
                                        </div>
                                        <div class="ml-4 mt-2" style="color: black;">
                                            <div class="row">
                                                <div class="col-md-6 text-left">Bill No:</div>
                                                <div class="col-md-5 text-right">{{pbill.billno}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 text-left">Customer Name:</div>
                                                <div class="col-md-5 text-right">{{pbill.party.party_name}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 text-left">Bill Date :</div>
                                                <div class="col-md-5 text-right">{{pbill.billdate | date:'d-m-Y'}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                    <div id="whatToPrint">
                      <div id="printpdf">
                        <div id="printdiv2" style="color:black; display: none;">
                          <div class="row " style="background-color: white; margin-left:1px; margin-right: 1rem; ">
                    
                            <div class="row mt-3">
                    
                              <h2 class="text-center">PAYSLIP</h2>
                    
                            </div>
                            <div class="row text-center">
                              <h2>
                                <hr>
                              </h2>
                            </div>
                            <div class="gen-info col-sm " style="  display: flex;justify-content: space-between;">
                    
                              <div>
                                <p>Employee Name: {{employee.employee.first_name | upper}} {{employee.employee.last_name | upper}}</p>
                                <p>Employee Code: {{employee.employee.emp_number}}</p>
                                <p>Month-Year: {{employee.month}}-{{employee.year}}</p>
                                <p>Designation: {{employee.employee.designation}}</p>
                    
                    
                              </div>
                    
                              <div>
                                <p>Location: {{employee.employee.company.city}}</p>
                                <p>Date of joining: {{employee.employee.joindate |date:"d-m-Y"}}</p>
                                <p> No of working days: {{employee.total_working_days}}</p>
                                <p>leave: {{attendance}}</p>
                    
                              </div>
                    
                    
                            </div>
                    
                          </div>
                          <div class="row " style="background-color: white; margin-left:1px; margin-right: 1rem; ">
                    
                            <div class="row text-center">
                              <h4>
                                <hr>
                                CONFIRMED SALARY
                    
                                </h5>
                            </div>
                    
                            <div class="  table-responsive">
                    
                              <table style="border-color: #000000; color: #000000;" class="table table-bordered   ">
                    
                                <thead>
                                  <tr>
                                    <th scope="col">Particulars</th>
                                    <th scope="col">Gross Amount (RS)</th>
                                    <th scope="col">Deduction</th>
                                    <th scope="col">Amount (Rs)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr >
                                    <td >Basic Salary</td>
                                    <td>{{allowance_amounts.Basic_Salary}}</td>
                                    
                                    <td>
                                      {% if attendance > 0 %}
                                        Leave Deduction
                                      {% else %}
                                           
                                      {% endif %}
                                  </td>
                                  
                                   

                                    <td>{{ allowance_amounts.basic_salary_deduction}} </td>
                                  </tr>
                                  <tr>
                                    <td>Conveyance Allowance</td>
                                    <td>{{allowance_amounts.Conveyance_Allowance}}</td>
                                    <td> </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>HRA</td>
                                    <td>{{allowance_amounts.HRA}}</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                    
                                  <tr>
                                    <td>Other Allowance</td>
                                    <td>{{allowance_amounts.Other_Allowance}}</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Bouns</td>
                                    <td>{{allowance_amounts.bonus}}</td>
                                    <td></td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td colspan="2"> </td>
                              
                              
                                    <td>Total Deduction</td>
                                    <td>{{ allowance_amounts.basic_salary_deduction}} </td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"> Net Salary</td>
                          
                          
                                
                                    <td>{{ allowance_amounts.netsalary}} </td>
                                  </tr>

                    
                                </tbody>
                             
                    
                         
                              </table>
                              </div>
                              
                            
                          </div>
                          </div>
                        </div>
               
                    </div>
                    </div>
                    </div>


                    <div class="modal fade" id="commentModal">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="background-color: #3b3b3b;">
                          <div class="modal-header">
                            <h3 class="modal-title text-light" id="exampleModalLabel">Add Comments</h3>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" style="font-size: x-large;">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body mx-3" style="background-color: #000;">
                            <form action="{% url 'addCommentSalaryDetails' employee.id %}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                              {%csrf_token%}
                              <div class="row mt-2">
                                <div class="col-12">
                                  <textarea type="text" rows="4" class="form-control text-white" name="comments" placeholder="Add Comments.." required></textarea>
                                  {% if not comment %}
                                    <span class="my-2 font-weight-bold d-flex justify-content-center">No Comments.!</span>
                                    {% else %}
                                    <div class="container-fluid comments-table-container">
                                        <table class="table table-borderless mt-4">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">sl no.</th>
                                                    <th class="text-center">Comment</th>
                                                    <th class="text-center">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for c in comment %}
                                                <tr class="">
                                                    <td class="text-center">{{forloop.counter }}</td>
                                                    <td class="text-center">{{c.comment}}</td>
                                                    <td class="text-center"><a class="text-danger" href="{% url 'DeleteCommentSalaryDetails' c.id %}" onclick="return confirm('Are you sure you want to delete.?')"><i class="fa fa-trash" style="font-size: 1.1rem;"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                  <div class="d-flex">
                                    <button class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50" type="submit">Save</button> 
                                    <input class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50" data-dismiss="modal" type="reset" value="Close">
                                  </div>
                                </div>
                                <div class="col-md-4"></div>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer"></div>
                        </div>
                      </div>
                    </div>














                    
                   
                    <!--------------------------------------------------------------------->
                    
                    
                    
                    
                    
                    
                    <div class="modal fade" id="commentModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="background-color: #3b3b3b;">
                          <div class="modal-header">
                            <h3 class="modal-title text-light" id="exampleModalLabel">HISTORY</h3>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" style="font-size: x-large;">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body mx-3" style="background-color: #000000;">
                            <div class="container-fluid history-table-container" >
                              <table class="table text-light table-borderless" style="margin:3px; background-color: #000000;width: 100%;">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>By</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for i in history %}
                                  <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.date|date:"m/d/Y"}}</td>
                                    <td>{{i.action}}</td>
                                    <td>{{ i.login_details.first_name }} {{ i.login_details.last_name }}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>  
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    
                          </div>
                        </div>
                      </div>
                    </div>
                   
                   
                   
                   
                   
                    
                  <!--------------------------------------------------------------------------------------->
                  <div class="modal fade" id="commentModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true" style="margin-top: 8vh;">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="background-color: #3b3b3b;">
                        <div class="modal-header">
                          <h3 class="modal-title text-light" id="exampleModalLabel">Add FILE</h3>
                          <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size: x-large;">&times;</span>
                          </button>
                        </div>
                        <form action="" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="modal-body">
                            <input type="file" name="file" required class="form-control">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-warning">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-------------------------------------------------------------------------------------------------------->
                  
<div class="modal fade" id="shareBillEmail">
  <div class="modal-dialog">
      <div class="modal-content"  style="background-color: #3b3b3b;">
          <div class="modal-header">
              <h2 class="modal-title text-light" id="shareBillEmailLabel">Share Payslip</h2>
              <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
         
              </button>
          </div>
          <div class="modal-body mx-3" style="background-color: #000;">


              <form action="{% url 'SharePayslipMail' employee.id %}" method="post" class="needs-validation"
                  id="share_to_email_form" autocomplete="off">
                  {% csrf_token %}
                  <div class="form-group">
                      <label class="text-light" for="emailIds">Email IDs</label>
                      <textarea class="form-control text-light" name="email_ids" id="emailIds" rows="5"
                          placeholder="Multiple emails can be added by separating with a comma(,)."
                          required></textarea>
                  </div>
                  <div class="form-group mt-2">
                      <label class="text-light" for="item_unitname">Message(optional)</label>
                      <textarea name="email_message" id="email_message" class="text-light form-control" cols=""
                          rows="4" placeholder="This message will be sent along with Bill details."></textarea>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="d-flex">
                        <button class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50" type="submit" id="share_with_email" value="SEND MAIL">Send</button> 
                        <input class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50" data-dismiss="modal" type="reset" value="Close">
                      </div>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </form>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
                    
<script>
  $(document).ready(function() {
    $('.clickable-row').on('click', function() {
        var url = $(this).data('href');
        if (url) {
            window.location.href = url;
        }
    });
});

</script>
<script>
  function shareViaWhatsApp() {
    var message = encodeURIComponent(window.location.href);
    var whatsappLink = 'https://wa.me/?text=' + message;
    window.open(whatsappLink, '_blank');
  }
</script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

 



<script>
  const rows = document.querySelectorAll('.clickable');
  rows.forEach(row => {
      row.addEventListener('click', () => {
        var currentURL = window.location.href
        const rowId = row.id;
        var newURL = currentURL.replace(/\d+$/, rowId);
        window.location.href = newURL;
      });
  });
</script>



 


<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
    swal({
    title: "{{msg}}",
    text: "{{msg.tags}}",
    icon: "{{msg.tags}}",
  });
    {% endfor %}
   </script> -->

   <script>
    document.addEventListener("DOMContentLoaded", function() {
        var div1 = document.getElementById("printdiv1");
        var div2 = document.getElementById("printdiv2");

        console.log("DOMContentLoaded event triggered");

    
        var state = localStorage.getItem("divState");
        console.log("Stored state:", state);
        
        if (state === "div2") {
            console.log("State is div2");
            div1.style.display = "none";
            div2.style.display = "block";
        } else {
            console.log("State is div1 or null");
            div1.style.display = "block";
            div2.style.display = "none";
        }

        document.getElementById("toggleButton1").addEventListener("click", function() {
            console.log("Toggle button 1 clicked");
            div1.style.display = "block";
            div2.style.display = "none";
          
            localStorage.setItem("divState", "div1");
            console.log("State stored as div1");
        });

        document.getElementById("toggleButton2").addEventListener("click", function() {
            console.log("Toggle button 2 clicked");
            div1.style.display = "none";
            div2.style.display = "block";
         
            localStorage.setItem("divState", "div2");
            console.log("State stored as div2");
        });
    });
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var div1 = document.getElementById("printdiv1");
    var div2 = document.getElementById("printdiv2");

    console.log("printdiv1 element:", div1);
    console.log("printdiv2 element:", div2);

 
    var state = localStorage.getItem("divState");
    console.log("Stored state:", state);

    if (state === "div2") {
        console.log("State is div2");
        div1.style.display = "none";
        div2.style.display = "block";
    } else {
        console.log("State is div1 or null");
        div1.style.display = "block";
        div2.style.display = "none";
    }

    document.getElementById("toggleButton1").addEventListener("click", function() {
        console.log("Toggle button 1 clicked");
        div1.style.display = "block";
        div2.style.display = "none";
        // Store the state
        localStorage.setItem("divState", "div1");
        console.log("State stored as div1");
    });

    document.getElementById("toggleButton2").addEventListener("click", function() {
        console.log("Toggle button 2 clicked");
        div1.style.display = "none";
        div2.style.display = "block";
        // Store the state
        localStorage.setItem("divState", "div2");
        console.log("State stored as div2");
    });
});



</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var overviewSection = document.getElementById("overviewSection");
      var payslipSection = document.getElementById("payslipSection");
      

      // Function to show the overview section and hide the payslip section
      function showOverview() {
          overviewSection.style.display = "block";
          payslipSection.style.display = "none";

          // Store the state in localStorage
          localStorage.setItem("sectionState", "overview");
      }

      // Function to show the payslip section and hide the overview section
      function showPayslip() {
          overviewSection.style.display = "none";
          payslipSection.style.display = "block";

          // Store the state in localStorage
          localStorage.setItem("sectionState", "payslip");
      }

      // Retrieve the state from localStorage and show the corresponding section
      var storedState = localStorage.getItem("sectionState");
      if (storedState === "payslip") {
          showPayslip();
      } else {
          showOverview();
      }

      // Add event listeners to the buttons
      document.getElementById("toggleButton1").addEventListener("click", showOverview);
      document.getElementById("toggleButton2").addEventListener("click", showPayslip);
  });
</script>
 

<script>
  function printfun() {
      print4 = document.getElementById('slipdiv');
      var printContents = print4 && print4.style.display !== 'none'
          ? document.getElementById('slipdiv').innerHTML
          : document.getElementById('whatToPrint').innerHTML;

      var $printerDiv = $('<div class="printContainer"></div>');
      $printerDiv.html(printContents);
      $('body').append($printerDiv).addClass('printingContent');
      window.print();
      $printerDiv.remove();
      $('body').removeClass('printingContent');
  }
</script>
<script>
  $(document).ready(function () {
      $(document).on('click', '#pdflink', function (event) {
          event.preventDefault();
          print1 = document.getElementById('whatToPrint');
          

          var element;

          if (print1 && print1.style.display !== 'none') {
              element = document.getElementById('printpdf');
          }


          if (element) {
              var opt = {
                  margin: 1,
                  filename: 'Payslip' + '{{data.id}}' + '.pdf',
                  image: { type: 'jpeg', quality: 0.98 },
                  html2canvas: { scale: 2 },
                  jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
              };
              html2pdf().set(opt).from(element).save();
          } else {
              console.error('No element found to print');
          }
      });
  });
</script>
 
<script>
  $(document).ready(function() {
    var $rows = $('#myTable tbody tr');
    $('#search').keyup(function() {
      var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
      $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
      }).hide();
    });
  });
  $('.dropdown-toggle').dropdown();
</script>

<script>
function sortTable(col) {
    var table = document.getElementById('myTable');
    var tbody = table.querySelector('tbody');
    var rows = Array.from(tbody.querySelectorAll('tr'));
    if (col == 1){
      rows.sort(function(a, b) {
          var balanceA = parseFloat(a.querySelector('.amt').innerText.replace(/[^\d.-]/g, ''));
          var balanceB = parseFloat(b.querySelector('.amt').innerText.replace(/[^\d.-]/g, ''));
          return balanceA - balanceB;
      });
    }else{
      rows.sort(function(a, b) {
          var nameA = a.querySelector('.name').innerText.toLowerCase();
          var nameB = b.querySelector('.name').innerText.toLowerCase();
          return nameA.localeCompare(nameB);
      });
    }
    tbody.innerHTML = '';
    rows.forEach(function(row) {
      tbody.appendChild(row);
    });
  }

  function filterTable(key) {
    var rows = document.querySelectorAll('#myTable tbody tr');
    rows.forEach(function(row) {
        var cell = row.querySelector('.stat');
        var status = cell.innerText.trim();
        if (key === 'All' || status === key) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
  }

</script>


{% endblock %}
