{% extends 'distributorbase.html' %}
{% load static %}
{% block content %}

<style>
  table tr:hover {
    background-color: rgba(255, 255, 255, 0.025);
  }
</style>
  


<div class="body-wrapper">
  <div class="container-fluid">

    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb pt-3">
        <li class="breadcrumb-item"><a href="{% url 'distributor_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dist_clients' %}" class="text-warning-emphasis"> Clients</a></li>
        <li class="breadcrumb-item" area-current="page">All Clients</li>
      </ol>
    </nav>

    
    
    <div style="overflow-x:auto;">  
    
      {% if clients %}  

      <table class="table mt-5 " style="background-color: black;">
        <thead>
          <tr style="border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <th scope="col" style="color: white;"><b>ID</b></th>
            <th scope="col" style="color: white;"><b>Name</b></th>
            <th scope="col" style="color: white;"><b>Email</b></th>
            <th scope="col" style="color: white;"><b>Contact</b></th>
            <th scope="col" style="color: white;"><b>Payment Terms</b></th>
            <th scope="col" style="color: white;"><b>Start Date</b></th>
            <th scope="col" style="color: white;"><b>End Date</b></th>
            <th scope="col" style="color: white;"><b>Action</b></th>

          </tr>
        </thead>
        <tbody>
            {% for a in clients %}
          <tr class="text-white" style="border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <td>{{a.id}}</th>
            <td> 
              {% if a.profile_pic %}
              <img width="35" height="35" class="rounded-circle" src="{{ a.profile_pic.url }}" alt="">
              {% else %}
              <img src="{% static 'registration_login/images/default.png' %}" alt="" width="35" height="35" class="rounded-circle">
              {% endif %}
              <a href="{% url 'dist_client_details' a.id %}" class="text-light">{{a.login_details.first_name}} {{a.login_details.last_name}}</a>
            </td>
            <td>{{a.login_details.email}}</td>
            <td>{{a.contact}}</td>
            {% if a.payment_term %}
            <td class="text-light">{{a.payment_term.payment_terms_number}} {{a.payment_term.payment_terms_value}}</td>
            {% else %}
            <td class="text-light">Trial Period</td>
            {% endif %}
            <td>{{a.start_date}}</td>
            <td>{{a.End_date}}</td>
            <td>
            <a href="{% url 'dist_client_reject' a.id %}" class="btn btn-outline-warning btn-sm" >Cancel Approval</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
      <img src="{% static 'assets\images\no-data-file.png' %}">
    </div>
    {% endif %}
       

  </div>
</div>


{% endblock %}