{% extends 'registration_login_base.html' %}
{% load static %}

{% block title %}
Welcome to Zoho Books
{% endblock %}

{% block body %}
<style>
    .bg-warning {
        --bs-bg-opacity: .75;
        background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
    }
    
</style>
<div class="row mt-5 mb-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card shadow mb-3 rounded-5" style="max-width: 100%;background-color: rgb(30, 30, 30);border: 1px solid rgba(255, 255, 255, 0.5);">
            <form action="{% url 'choose_modules' company %}" method="post">
                {% csrf_token %}
                <div class="row mt-4">
                    <div class="container">
                        <h3 class="text-white text-center">
                            Choose Modules
                        </h3>
                        <hr class="text-warning mt-4">
                    </div>
                </div>
                <!-- Checkbox to select/deselect all -->
                <div class="row g-0">
                    <div class="card-body">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input bg-warning" id="selectAllCheckbox" onchange="toggleSelectAll(this)">
                            <label for="selectAllCheckbox" class="form-check-label text-white">Select All <span class="text-warning">(or choose individually)</span></label>
                        </div>
                    </div>

                </div>
                <!-- ITEMS Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Items</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox"  id="items" name="items" value="1" >
                                <label class="form-check-label text-white">Items</label>
                            </div>   
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox"  id="price_list" name="price_list" value="1">
                                <label class="form-check-label text-white" >Price List</label>
                            </div>   
                        </div>   
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox"  id="stock_adjustment" name="stock_adjustment" value="1">
                                <label class="form-check-label text-white">Stock Adjustment</label>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="godown" name="godown" value="1">
                                <label class="form-check-label text-white">Godown</label>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Add other ITEMS Module checkboxes here -->            
                </div>
                <!-- CASH & BANK Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Cash & Bank</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="cash_in_hand" name="cash_in_hand" value="1">
                                <label class="form-check-label text-white">Cash In Hand</label>
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="offline_banking" name="offline_banking" value="1">
                                <label class="form-check-label text-white">Offline Banking</label>            
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="upi" name="upi" value="1">
                                <label class="form-check-label text-white">UPI</label>           
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="bank_holders" name="bank_holders" value="1">
                                <label class="form-check-label text-white">Bank Holders</label>           
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="cheque" name="cheque" value="1">
                                <label class="form-check-label text-white">Cheque</label>            
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="loan_account" name="loan_account" value="1">
                                <label class="form-check-label text-white">Loan Account</label>            
                            </div>
                        </div>
                    </div>
                    
                </div>  
                <!-- SALES MODULE Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Sales</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="customers" name="customers" value="1">
                                <label class="form-check-label text-white">Customers</label>            
                            </div>  
                        </div>   
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="invoice" name="invoice" value="1">
                                <label class="form-check-label text-white">Invoice</label>                      
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="estimate" name="estimate" value="1">
                                <label class="form-check-label text-white">Estimate</label>                     
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="sales_order" name="sales_order" value="1">
                                <label class="form-check-label text-white">Sales Order</label>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="recurring_invoice" name="recurring_invoice" value="1">
                                <label class="form-check-label text-white">Recurring Invoice</label>                        
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="retainer_invoice" name="retainer_invoice" value="1">
                                <label class="form-check-label text-white">Retainer Invoice</label>                       
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="credit_note" name="credit_note" value="1">
                                <label class="form-check-label text-white">Credit Note</label>                    
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="payment_received" name="payment_received" value="1">
                                <label class="form-check-label text-white">Payment Received</label>                         
                            </div>                              
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="delivery_challan" name="delivery_challan" value="1">
                                <label class="form-check-label text-white">Delivery Challan</label>                        
                            </div>
                        </div>
                    </div>   
                </div>  
                <!-- PURCHASE MODULE Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Purchase</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="vendors" name="vendors" value="1">
                                <label class="form-check-label text-white">Vendors</label>                        
                            </div>  
                        </div>   
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="bills" name="bills" value="1">
                                <label class="form-check-label text-white">Bills</label>                             
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="recurring_bills" name="recurring_bills" value="1">
                                <label class="form-check-label text-white">Recurring Bills</label>                               
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="vendor_credit" name="vendor_credit" value="1">
                                <label class="form-check-label text-white">Vendor Credit</label>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="purchase_order" name="purchase_order" value="1">
                                <label class="form-check-label text-white">Purchase Order</label>                                   
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="expenses" name="expenses" value="1">
                                <label class="form-check-label text-white">Expenses</label>                                  
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="recurring_expenses" name="recurring_expenses" value="1">
                                <label class="form-check-label text-white">Recurring Expenses</label>                                
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="payment_made" name="payment_made" value="1">
                                <label class="form-check-label text-white">Payment Made</label>                                    
                            </div>                              
                        </div>
                    </div>                       
                </div>
                <!-- TIME TRACKING Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Time Tracking</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="projects" name="projects" value="1">
                                <label class="form-check-label text-white">Projects</label>                                 
                            </div>  
                        </div>   
                    </div>
                    <!-- Add other TIME TRACKING Module checkboxes here -->
                </div>
                <!-- ACCOUNTS Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Accounts</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="chart_of_accounts" name="chart_of_accounts" value="1">
                                <label class="form-check-label text-white">Chart of Accounts</label>                                              
                            </div>  
                        </div>   
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="manual_journal" name="manual_journal" value="1">
                                <label class="form-check-label text-white">Manual Journal</label>                                             
                            </div>  
                        </div>   
                    </div>
                    <!-- Add other ACCOUNTS Module checkboxes here -->
                </div>
                <!-- E WAY BILL Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">E-Way Bill</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="ewaybill" name="ewaybill" value="1">
                                <label class="form-check-label text-white">Eway Bill</label>                                 
                            </div>  
                        </div>   
                    </div>
                    <!-- Add other eway bill Module checkboxes here -->
                </div>  
                <!-- PAYROLL Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Payroll</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="employees" name="employees" value="1">
                                <label class="form-check-label text-white">Employees</label>            
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="employees_loan" name="employees_loan" value="1">
                                <label class="form-check-label text-white">Employees Loan</label>                    
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="holiday" name="holiday" value="1">
                                <label class="form-check-label text-white">Holiday</label>                     
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="attendance" name="attendance" value="1">
                                <label class="form-check-label text-white">Attendance</label>                       
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="salary_details" name="salary_details" value="1">
                                <label class="form-check-label text-white">Salary Details</label>                       
                            </div> 
                        </div>
                    </div>
                    <!-- Add other PAYROLL Module checkboxes here -->   
                </div> 
                <!-- REPORTS Module -->
                <div class="row g-0 mt-5">
                    <h4 class="text-white ms-4">Reports</h4>
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input bg-warning" type="checkbox" id="reports" name="reports" value="1">
                                <label class="form-check-label text-white">Reports</label>                                 
                            </div>  
                        </div>   
                    </div>
                    <!-- Add other eway bill Module checkboxes here -->
                </div>
                <div class="row">
                    <div class="container">
                        <hr class="text-warning">
                        <div class="row mt-5 mb-5">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <center>
                                    <div class="row mt-4 mb-4"><a href=""><button type="submit" class="button1 mb-1"><i class="fas fa-save"></i><span class="ms-1">Save</span></button></a></div>
                                </center>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>    
            </form>
        </div>        
    </div>
    <div class="col-md-1"></div>
</div>
<style>
    .button1 {
      border-radius: 8px;
      background-color: rgb(218, 164, 48);;
      border: none;
      color: #ffffff;
      text-align: center;
      font-size: 17px;
      padding: 6px;
      width: 160px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button1 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button1:hover span {
      padding-right: 20px;
    }
    
    .button1:hover span:after {
      opacity: 1;
      right: 0;
    }
    
</style>
<!-- js function to check or uncheck all boxes -->
<script>
    function toggleSelectAll(source) {
      // Get all checkboxes in the document
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');

      // Loop through each checkbox and set its checked property based on the source checkbox
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
</script>
{% endblock %}