{% extends 'adminbase.html' %}
{% load static %}
{% block content %}

<section >

  <div class="body-wrapper h-100">
    <div class="container-fluid" >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb pt-3">
          <li class="breadcrumb-item"><a href="{% url 'admindash' %}" class="text-warning-emphasis">Dashboard</a></li>
          <li class="breadcrumb-item" aria-current="page">Distributors</li>
        </ol>
      </nav>
 
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card bg-black"  >
            <div class="card-body">
              <div class="row">
                <div class="col-md-9 ">
                  <a class="stretched-link" href="{% url 'distributor_requests' %}">
                    <h5 class="card-title mb-9 text-light">Requests</h5>
                  </a>
                </div>
                <div class="col">
                  <a href="">
                  <i class="fa fa-users text-warning" style="font-size: 2em;"></i>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>      
      
        <div class="col-md-4">
          <div class="card bg-black" >
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <a class="stretched-link" href="{% url 'all_distributors' %}">
                    
                    <h5 class="card-title mb-9 text-light">All Distributors</h5>
                  </a>
                
                </div>
                <div class="col">
                  <a href="">
                    <i class="fa fa-users text-warning" style="font-size: 2.3em;"></i>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="card bg-black" >
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <a class="stretched-link" href="{% url 'clients_under_distributor' %}">
                    <h5 class="card-title mb-9 text-light">Clients Under</h5>
                  </a>
                
                </div>
                <div class="col">
                  <a href="">
                    <i class="fa fa-users text-warning" style="font-size: 2.3em;"></i>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div> 

      </div>
    </div>  
  </div>
     
</section>



<script src="http://www.w3.org/2000/svg" src="https://www.gstatic.com/charts/loader.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>



{% endblock %}