{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
 .btn-outline-warning:hover{
    color: black;
    font-weight:bolder;
  }
  input[type="date"] {
        /* Change the color of the text */
        color: white; /* Change to the desired color */
    }

    /* Style for the calendar icon */
    input[type="date"]::-webkit-calendar-picker-indicator {
        /* Change the color of the calendar icon */
        filter: invert(1); /* Change to the desired color */
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<div class="body-wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if login_details.user_type == 'Staff' %} <li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>{% endif %}
                {% if login_details.user_type == 'Company' %} <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>{% endif %}
                <li class="breadcrumb-item"><a class="text-warning-emphasis">Cash & Bank</a></li>
                <li class="breadcrumb-item"><a href="{% url 'loan_listing' %}" class="text-warning-emphasis">Loan Account</a></li>
                 <li class="breadcrumb-item" aria-current="page">Edit Additional Loan</li>
        </nav>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card mb-3 bg-black shadow p-3 mb-5 rounded" style="max-width: 1200px;">
                  <div class="row mt-4">
        <section>
            <div class="container pl-5" style="color:white;">
                <div class="header pb-5">
                    <h2 style="text-align: center;color:white;">EDIT ADDITIONAL LOAN</h2>
                    <hr class="text-warning font-weight-bold">
                    {% for message in messages %}
                    <h5>
                        <div class="alert alert-danger message">
                            {{ message }}
                        </div>
                    </h5>
                    {% endfor %}
                </div>
                <form action="{% url 'edit_additional_loan' repayment.id %}" method="post" class="needs-validation"  autocomplete="off" id="editadd">
                    {%csrf_token%}
                    <div class="row">
                      <div class="col-md-6">
                        <label for="origin" style="color: white;">Balance Loan</label>
                        <input type="text" class="form-control text-white bg-black mt-1" id="balance" name="balance" value="{{ overall_balance }}" readonly>
                      </div>
                      <div class="col-md-6">
                        <label for="origin" style="color: white;">New Loan</label>
                        <input type="number" class="form-control text-white bg-black mt-1" id="principalamount" name="principal_amount" value="{{repayment.principal_amount}}" required>
                      </div>
                      
                    </div>

                    <div class="row mt-3">
                      <div class="col-md-6">
                        <label for="origin" style="color: white;">Interest Amount</label>
                        <input type="number" class="form-control text-white bg-black mt-1" id="interestamount" name="interest_amount" value="{{repayment.interest_amount }}">
                      </div>
                      
                      <div class="col-md-6">
                        <label for="date" style="color: white;">Date</label>
                        <input type="date" class="form-control text-white bg-black mt-1" id="date"  name="date" value="{{repayment.payment_date | date:'Y-m-d'}}" >
                      </div>
                    </div>

                    <div class="row mt-3">
                      <div class="col-md-6">
                        <label for="amount" style="color: white;">Total Loan</label>
                        <input type="number" class="form-control text-white bg-black mt-1" id="totalamount"  name="total_amount" value="{{repayment.total_amount}}" readonly>
                      </div>
                      <div class="col-md-6">
                        <label for="dest" style="color: white;">Payment Method</label>
                        <select class="form-control text-white bg-black form-select mt-1" id="paymentmethod" name="payment_method" required>
                          <option value="Cash" {% if repayment.payment_method == 'Cash' %} selected {% endif %}>Cash</option>
                          <option value="UPI" {% if repayment.payment_method == 'UPI' %} selected {% endif %}>UPI</option>
                          <option value="Cheque" {% if repayment.payment_method == 'Cheque' %} selected {% endif %}>Cheque</option>
                          {% for bank in banks %}
                          {% if bank.status == 'Active' %}
                          <option value="{{ bank.id }}" {% if repayment.payment_method == bank.bnk_name %} selected {% endif %}>{{ bank.bnk_name }}-( {{ bank.bnk_acno|slice:'-4:' }})</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row mt-3" id="chequedetails" style="display: none;">
                      <div class="col-md-6">
                          <label for="cheque_number" style="color: white;">Cheque Number</label>
                          <input type="text" class="form-control text-white bg-black mt-1" id="cheque_number" name="cheque_number" value="{{repayment.cheque}}">
                      </div>
                  </div>

                  <!-- Text box for UPI -->
                  <div class="row mt-3" id="upidetails" style="display: none;">
                      <div class="col-md-6">
                          <label for="upi_id" style="color: white;">UPI ID</label>
                          <input type="text" class="form-control text-white bg-black mt-1" id="upi_id" name="upi_id" value="{{repayment.upi_id}}">
                      </div>
                  </div>
                  <div class="row mt-3" id="accdetails" style="display: none;">
                    <div class="col-md-6">
                        <label for="upi_id" style="color: white;">Account Number</label>
                        <input type="text" class="form-control text-white bg-black mt-1" id="acc_num" name="acc_num"  value="{{repayment.account_number}}" readonly>
                    </div>
                    
                </div>

                   

                    <div class="row mt-3">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <div class="d-flex">
                          <button class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50" type="submit" data-dismiss="modal" id="paySave" >Save</button> 
                          <input class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50" type="reset" value="Reset">
                        </div>
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </form>
                            <!-- <button type="submit"  class="btn btn-outline-warning custom-btn" > Save</button>
                        </div>
                    </div> -->
        
                        </section>
                        <script>
                          document.addEventListener('DOMContentLoaded', function() {
                              var principalInput = document.getElementById('principalamount');
                              var interestInput = document.getElementById('interestamount');
                              var totalAmountInput = document.getElementById('totalamount');
                        
                              function calculateTotal() {
                                  var principal = parseFloat(principalInput.value) || 0;
                                  var interest = parseFloat(interestInput.value) || 0;
                                  var total = principal + interest;
                                  totalAmountInput.value = total.toFixed();
                              }
                        
                              principalInput.addEventListener('input', calculateTotal);
                              interestInput.addEventListener('input', calculateTotal);
                              calculateTotal(); 
                          });
                        </script>
                     
                     <script>
                      $(document).ready(function() {
                          // Function to show the appropriate payment method details based on the selected option
                          function showPaymentMethodDetails(selectedOption) {
                              if (selectedOption === 'Cheque') {
                                  $('#chequedetails').show();
                                  $('#upidetails').hide();
                                  $('#accdetails').hide();
                              } else if (selectedOption === 'UPI') {
                                  $('#chequedetails').hide();
                                  $('#upidetails').show();
                                  $('#accdetails').hide();
                              } else if (selectedOption === 'Cash') {
                                  $('#chequedetails').hide();
                                  $('#upidetails').hide();
                                  $('#accdetails').hide();
                              } else {
                                  console.log('Bank selected');
                                  $('#chequedetails').hide();
                                  $('#upidetails').hide();
                                  $('#accdetails').show();
                                  var bankId = selectedOption;
                                  $.ajax({
                                  url: '{% url "full_account_number" 0 %}'.replace('0', bankId),
                                  type: 'GET',
                                  
                                            
                                  success: function(response) {
                                  console.log('Success:', response);
                                  data=response.bank
                                 $('#acc_num').val(data);
                                   },
                                  error: function(xhr, status, error) {
                                  console.error(error);
                                   }
                                  });
                              }
                          }
                          
                          // Event listener for the payment method dropdown change
                          $('#paymentmethod').change(function() {
                              var selectedOption = $(this).val();
                              showPaymentMethodDetails(selectedOption);
                          });
                          
                          // Show payment method details based on the selected option
                          var selectedOption = $('#paymentmethod').val();
                          showPaymentMethodDetails(selectedOption);
                          
                          // Check if UPI ID or Cheque Number fields have values and show respective payment method details
                          var upiIdValue = $('#upi_id').val();
                          var chequeNumberValue = $('#cheque_number').val();
                          var accountNumberValue = $('#acc_num').val();
                          if (upiIdValue) {
                              $('#upidetails').show();
                          }
                          if (chequeNumberValue) {
                              $('#chequedetails').show();
                          }
                          if (accountNumberValue) {
                              $('#accdetails').show();
                          }
                      });
                      $('#editadd').submit(function (e) {
        var selectedOption = $('#paymentmethod').val();
        if (selectedOption === 'UPI') {
            var upiId = $('#upi_id').val();
            if (!upiId) {
                e.preventDefault(); // Prevent form submission
                alert('UPI ID is required.');
            }
        }else if(selectedOption === 'Cheque') {
            var cheq = $('#cheque_number').val();
            if (!cheq) {
                e.preventDefault(); // Prevent form submission
                alert('Cheque number is required.');
            }
        
        }
    });
                  </script>

                        
                        

{% endblock %}
