{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load social_share %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
  .hidden-option {
    display: none;
  }

  a {
    list-style: none;
    color: azure;
  }

  a:hover {
    color: rgb(218, 164, 48);
    text-decoration: none;
  }

  .tab {
    overflow: hidden;
    background-color: transparent;
    width: 300px;
  }

  .tab a {
    font-family: inherit;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.3s;
    color: azure;
    border: none;
  }

  .tab a:hover {
    background-color: #ddd;
    color: rgb(56, 54, 54);
  }

  .tab a.active {
    background-color: #ccc;
    color: rgb(56, 54, 54);
  }

  .tabcontent {
    display: none;
    border-top: none;
  }

  .page {
    background: azure;
    display: block;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }

  .print-only {
    display: none;
    height: auto;
    overflow-y: auto;
    border: none;
    box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.3),
          inset -2px -2px 5px 2px rgba(0, 0, 0, 0.3),
          inset 2px -2px 5px 2px rgba(0, 0, 0, 0.3),
          inset -2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .card-custom {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .card-text {
    margin-bottom: 0.5rem;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info-item {
    display: flex;
    align-items: center;
  }

  .label {
    margin: 0;
    width: 130px; 
  }

  .value {
    margin: 0;
    flex: 1;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

 .info-item h6.label {
    margin-left: 10px;
    display: inline-block;
  } 

  .info-item p.value {
    margin-left: 10px;
  }

  .bank-info {
    margin-bottom: 10px;
  }

  .bank-info span {
    padding: 5px; 
  }

  .modal{
    z-index: 9999;
    overflow: scroll;
  }

  .btn-outline-warning:hover{
    color: black;
    font-weight:bolder;
  }


  #Overview tbody tr td{
    border: none;
  }

  .medium_btn{
    font-size: 12px; 
    padding: 10px 20px;
    margin-left: 1px;
  }

  #overview_btn{
    background-color: #ffae1f; 
    color: black; 
    font-weight: bold;
  }

  .modal .btn-outline-warning:hover{
    color: black !important;
  }

  .modal{
    margin-top: 3.5%;
  }
  
  .dropdown-item:hover{
    cursor: pointer;
  }

  .info-label {
    flex: 0 0 50%;
  }

  .info-value {
    flex: 1;
  }

  .bank-row{
    padding-left: 10%;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .page[size="A4"] {
    overflow: hidden;
  }
  
  @media print {
    html,body {
        height: 100% !important;
        /* width: 100% !important; */
        /* display: block; */
      
      visibility: hidden !important;
      /* height:100%;  */
      overflow:scroll;
    }
    .printContainer {
            visibility: visible !important;/* Override the rule above to only show the printables */ 
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            font-size: large;
        } 

    header {
      display: none;
    }

    .print-only * {
      visibility: visible;
    }

    .print-only {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      height:auto;
      page-break-before: always;
      page-break-inside: avoid;
    }
  }

  .small_btn{
    padding: 5px 9px;
    height: 50%;
    margin-top: 1%;
  }

  .xsmall_btn{
    padding: 6px;
    margin-top: 1%;
  }

    /* Style for the date input */
    input[type="date"] {
        /* Change the color of the text */
        color: white; /* Change to the desired color */
    }

    /* Style for the calendar icon */
    input[type="date"]::-webkit-calendar-picker-indicator {
        /* Change the color of the calendar icon */
        filter: invert(1); /* Change to the desired color */
    }

</style>

<style>
  .uppercase {
    text-transform: uppercase;
  }
</style> 

<div class="body-wrapper">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="text-warning-emphasis">Cash & Bank</a></li>
        <li class="breadcrumb-item"><a href="{% url 'list_upi' %}" class="text-warning-emphasis">Upi</a></li>
        <li class="breadcrumb-item" aria-current="page" id="">Statement</li>

      </ol>
    </nav>
    <div class="row pt-3">

            <div class="col-md-12 col-lg-12">
              <div style="background-color: black; border-radius: 1vh;">
                <div class="card-header p-4">
                  <h6 class="mt-3" style="font-size: 1.8rem; color: white;">Statement</h6><br>
                  {% for message in messages %}
                  <h5>
                    <div class="alert alert-danger message text-center" style="color: black;" id="alert_danger">
                      {{ message }}
                      <a type="button" id="alert_close" class="close" data-dismiss="alert" aria-label="Close" style="float: right;">
                        <span aria-hidden="true" style="font-size: large; color: #68020F;">&times;</span>
                      </a>
                    </div>
                  </h5>
                  {% endfor %}
                  <div class="row">
                          <div class="col-md-2">
                          <input type="date" name="start_date" id="startDate" class="form-control form-control-sm border-warning text-warning" required>
                      </div>
                      TO
                      <div class="col-md-2">
                          <input type="date" name="end_date" id="endDate" class="form-control form-control-sm border-warning text-warning" required>
                      </div>
                  
                      <div class="col-md-2">
                          <button class="btn btn-sm btn-outline-warning" type="button" onclick="filterTableByDate()">Filter</button>
                      </div>
                  
                    <div class="col-md-5">
                        <div class="d-sm-flex justify-content-end">
                          <button type="button" class="btn btn-sm btn-outline-warning text-grey d-flex align-items-center" style="margin-right: 10px;" onclick="export_as_pdf()" ><i class="fa fa-file-pdf mr-4" style="font-size: 1rem !important;"></i>PDF</button>
                          <button type="button" class="btn btn-sm btn-outline-warning text-grey d-flex align-items-center " style="margin-right: 10px;" onclick="printSection('Overview')" id="printBtn"><i class="fa fa-print mr-1" style="font-size: 1rem !important;"></i>Print</button>
                          <div class="dropdown ml-2">
                            <button class="btn btn-outline-warning text-grey dropdown-toggle" type="button" id="shareBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt mr-1" style="font-size: 1rem !important;"></i>Share</button>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="shareBtn">
                              <span class="text-center text-align " >{% post_to_whatsapp object_or_url " WhatsApp" %}</span>
                              <a class="dropdown-item" style="text-align: center; cursor: pointer;" data-toggle="modal" data-target="#shareToEmail">Email</a>
                            </div>
                          </div>

                        </div>
                    </div>
                </div>

                  <div class="row mt-5">
        
                    <div class="d-sm-flex" style="width: 30%;">
                      <input class="form-control text-black bg-light mt-4 d-none" type="text" id="search_tra" placeholder="Search..." style="margin-right: 10%;">
                    </div>
                    <div class="col-md-12 d-flex justify-content-end d-none" id="date-filter" >
                        <form id="date-filter-form" class="d-flex">
                            <div class="d-flex">
                                <!-- <label class="text-white mr-2">From:</label> -->
                                <input type="date" class="form-control form-control-sm text-white bg-black mr-2" id="start-date" name="startdate">
                            </div>
                            <div class="d-flex ">
                                <label class="text-white mr-2">To:</label>
                                <input type="date" class="form-control form-control-sm text-white bg-black mr-2" id="end-date" name="enddate">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 d-flex justify-content-end d-none" id="date-fil" >
                      <form id="date-filter-form" class="d-flex">
                          <div class="d-flex">
                              <!-- <label class="text-white mr-2">From:</label> -->
                              <input type="date" class="form-control form-control-sm text-white bg-black mr-2" id="st-date" name="start_date">
                          </div>
                          <div class="d-flex ">
                              <label class="text-white mr-2">To:</label>
                              <input type="date" class="form-control form-control-sm text-white bg-black mr-2" id="en-date" name="end_date">
                          </div>
                      </form>
                  </div>

                </div><br>


                <div id="Overview" style="background-color: #aba9a9;">
                    <div class="page" size="A4">
                        <div class="p-4">
                          <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                            <section>
                              <div class="text-center">
                                <h2 class="text-white bg-warning p-3">UPI STATEMENT</h2>
                              </div>
                            </section>
                            <br>
                            <section class="store-user mt-2">
                              <div class="col-12">
                                <div class="row pb-3">
                                  <div class="col-7">
                                    <p><b class="text-black">COMPANY</b>,</p>
                                    <div style="margin-left: 20%;">
                                      <h3>{{ details.company_name }}</h3>
                                      <p class="text-black"> 
                                        {{ details.contact }} <br>
                                        {{ details.address }} <br>
                                        {{ details.city }} <br>
                                        {{ details.state|slice:'5:' }},
                                        {{ details.country }} <br>
                                        {{ details.pincode }}
                                      </p>
                                    </div>
                                  </div>
                                  <div class="col-2"></div>
                                  <div class="col-11 d-flex justify-content-end">
                                    <div class="bal_section pr-3">
                                      <span class="h4 font-weight-bold text-warning">TOTAL AMOUNT: <span id="bal">0</span></span>
                                    </div>
                                  </div>
                                </div>
                                  </div>
                            </section>
                           
    
                            <section class="table-responsive mt-4">
                              <table class=" table table-hover table-bordered border-dark" id="statementtable">
                                <thead class="bg-warning">
                                  <tr class="text-center text-white" style="font-weight: bold;">
                                    <!-- <th style="width: 5%;">#</th> -->
                                    <th>DATE</th>
                                    <th>TYPE</th>
                                    <th>NAME</th>
                                    <th>REF. NO.</th>
                                    <th>UPI NO.</th>
                                    <th>AMOUNT</th>
                                  </tr>
                                </thead>
                                <tbody>
                 
                                  {% for a in invoice %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td style="text-align: center;">{{ a.date|date:'Y-m-d' }}</td>
                                    <td style="text-align: center;">INVOICE</td>
                                    <td style="text-align: center;">{{a.customer.first_name}} {{a.customer.last_name}}</td>
                                    <td style="text-align: center;">{{a.reference_number}}</td>
                                    <td style="text-align: center;">{{a.UPI_number}}</td>
                                    <td style="text-align: center;">{{ a.advanced_paid }}</td>
                                  </tr>
                                  {% endfor %}
                      
                                  {% for a in recInvoice %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.start_date|date:'Y-m-d' }}</td>
                                    <td>RECURRING INVOICE</td>
                                    <td>{{a.customer.first_name}} {{a.customer.last_name}}</td>
                                    <td>{{a.reference_no}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>{{ a.advance_paid }}</td>
                                  </tr>
                                  {% endfor %}
                        
                                  {% for a in creditNote %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.credit_note_date|date:'Y-m-d' }}</td>
                                    <td>CREDIT NOTE</td>
                                    <td>{{a.customer.first_name}} {{a.customer.last_name}}</td>
                                    <td>{{a.reference_number}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>{{ a.advance_paid }}</td>
                                  </tr >
                                  {% endfor %}
                        
                                  {% for a in salesOrder %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.sales_order_date|date:'Y-m-d' }}</td>
                                    <td>SALES ORDER</td>
                                    <td>{{a.customer.first_name}} {{a.customer.last_name}}</td>
                                    <td>{{a.reference_number}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>{{ a.advanced_paid }}</td>
                                  </tr >
                                  {% endfor %}
                      
                                  {% for a in retainerInvoice %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.retainer.retainer_invoice_date|date:'Y-m-d' }}</td>
                                    <td>RETAINER INVOICE</td>
                                    <td>{{a.retainer.customer_name.first_name}} {{a.retainer.customer_name.last_name}}</td>
                                    <td>{{a.retainer.refrences}}</td>
                                    <td>{{a.upi_id}}</td>
                                    <td>{{ a.retainer.advance }}</td>
                      
                                  </tr>
                                  {% endfor %} 
                        
                              {% for a in bill %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.Bill_Date|date:'Y-m-d' }}</td>
                                    <td>BILL</td>
                                    <td>{{a.Vendor.first_name}} {{a.Vendor.last_name}}</td>
                                    <td>{{a.Reference_Number}}</td>
                                    <td>{{a.UPI_Id}}</td>
                                    <td>{{ a.Advance_amount_Paid }}</td>
                                  </tr>
                                  {% endfor %} 
                        
                                  {% for a in recurringBill %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.rec_bill_date|date:'Y-m-d' }}</td>
                                    <td>RECURRING BILL</td>
                                    <td>{{a.vendor_details.first_name}} {{a.vendor_details.last_name}}</td>
                                    <td>{{a.recc_ref_no}}</td>
                                    <td>{{a.upi_id}}</td>
                                    <td>{{ a.paid }}</td>
                                  </tr>
                                  {% endfor %}
                        
                                  {% for a in purchaseOrder %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.purchase_order_date|date:'Y-m-d' }}</td>
                                    <td>PURCHASE ORDER</td>
                                    <td>{{a.vendor.first_name}} {{a.Vendor.last_name}}</td>
                                    <td>{{a.reference_number}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>{{ a.advanced_paid }}</td>
                                  </tr>
                                  {% endfor %}
                        
                                  {% for a in debitNote %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.debitnote_date|date:'Y-m-d' }}</td>
                                    <td>DEBIT NOTE</td>
                                    <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
                                    <td>{{a.reference_no}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>{{ a.advance_paid }}</td>
                                  </tr>
                                  {% endfor %}
                        
                                  
                                   {% for a in pmtrec %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.payment_recieved.payment_date|date:'Y-m-d' }}</td>
                                    <td>PAYMENT RECEIVED </td>
                                    <td>{{a.payment_recieved.customer.first_name}} {{a.payment_recieved.customer.last_name}}</td>
                                    <td>{{a.payment_recieved.reference_number}}</td>
                                    <td>{{a.payment_recieved.upi_id}}</td>
                                    <td>{{ a.payment}}</td>
                                  </tr >
                                  {% endfor %} 
                        
                                 {% for a in expen %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.date|date:'Y-m-d' }}</td>
                                    <td>EXPANSE</td>
                                    <td>{{a.login_details.first_name}} {{a.login_details.last_name}}</td>
                                    <td>{{a.reference_number}}</td>
                                    <td>{{a.cheque_id}}</td>
                                    <td>0</td>
                                  </tr >
                                  {% endfor %} 
                        
                                  {% for a in RECexpen %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.exp_date|date:'Y-m-d' }}</td>
                                    <td>RECURRING EXPANSE</td>
                                    <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
                                    <td>{{a.refrenceid}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>0</td>
                      
                                  </tr>
                                  {% endfor %}
                      
                                 
                        
                                   {% for a in pamade %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.payment_date|date:'Y-m-d' }}</td>
                                    <td>PAYMENT MADE</td>
                                    <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
                                    <td>{{a.reference_no}}</td>
                                    <td>{{a.upi_number}}</td>
                                    <td>0</td>
                                  </tr>
                                  {% endfor %} 
                        
                                  {% for a in emploanre %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.payment_date|date:'Y-m-d' }}</td>
                                    <td>{{a.particular}}</td>
                                    <td>{{a.emp.Employee.first_name}} {{a.emp.Employee.last_name}}</td>
                                    <td>{{a.recc_ref_no}}</td>
                                    <td>{{a.upi_id}}</td>
                                    <td>0</td>
                                  </tr>
                                  {% endfor %}
                        
                                  {% for a in empLoan %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.loan_date|date:'Y-m-d' }}</td>
                                    <td>LOAN</td>
                                    <td>{{a.logindetails.first_name}} {{a.logindetails.last_name}}</td>
                                    <td>{{a.reference_number}}</td>
                                    <td>{{a.upi_id}}</td>
                                    <td>0</td>
                                  </tr>
                                  {% endfor %}
                        
                                  {% for a in empLoanRe %}
                                  <tr style="border: 1px solid black; height: 40px; text-align: center;">
                                    <td>{{ a.payment_date|date:'Y-m-d' }}</td>
                                    <td class="uppercase"> {{a.type}} </td>
                                    <td>{{a.login_details.first_name}} {{a.login_details.last_name}}</td>
                                    <td>{{a.reference_no}}</td>
                                    <td>{{a.upi_id}}</td>
                                    <td>0</td>
                                  </tr>
                                  {% endfor %}
            
                                </tbody>
                              </table><br><br>
                            </section>
                          </div>
                        </div>
                      </div>
                </div>

              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Share To Email Modal -->
<div class="modal fade" id="shareToEmail">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background:black; border: 1px solid #ffae1f;">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 p-4">
            <h2 class="text-uppercase" style="color: white; font-weight: bolder;">Share Invoice</h2>
          </div>
          <div class="col-md-2 p-3">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" style="float: right;">
              <span aria-hidden="true" style="color: white; font-weight: bolder;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class=" p-3">
                  <form action="{% url 'shareupiToEmail'%}" method="post" class="needs-validation" id="share_to_email_form">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="emailIds"style="color: white; font-size: large;">Email IDs</label>
                          <textarea class="form-control text-white bg-black"name="email_ids" id="emailIds" rows="3" placeholder="Multiple emails can be added by separating with a comma(,)." required></textarea>
                      </div>
                      <div class="form-group mt-2">
                          <label for="item_unitname" style="color: white; font-size: large;">Message(optional)</label>
                          <textarea name="email_message" id="email_message" class="form-control text-white bg-black"cols="" rows="4" placeholder="This message will be sent along with Bill details."></textarea>
                      </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <div class="d-flex">
                      <button class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50 text-white" type="submit">Send</button> 
                      <input class="btn save_btn btn-outline-warning mt-2 my-4 mx-2 w-50 text-white" type="reset" value="Reset">
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </form>

          </div>
      </div>   
  </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
  $(document).ready(function(){
      var date1 = "";
      $('#startDate').on('change',function(){
          date1 = $(this).val()
          $('#endDate').prop('min',date1)
      })
  })
  $(document).ready(function(){
      var date2 = "";
      $('#endDate').on('change',function(){
          date2 = $(this).val()
          $('#startDate').prop('max',date2)
      })
  })

  $(document).ready(function(){
    $('#share_with_email').on('click',function(){
        var emailsInput = document.getElementById('emailIds');
        var emailsString = emailsInput.value.trim();

        var emails = emailsString.split(',').map(function(email) {
            return email.trim();
        });

        var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;

        var invalidEmails = []
        if(emailsString == ""){
            alert('Enter valid email addresses..')
        }
        else{
            for (var i = 0; i < emails.length; i++) {
                var currentEmail = emails[i];

                if (currentEmail!="" && !emailRegex.test(currentEmail)) {
                    console.log(currentEmail + ' is invalid!');
                    invalidEmails.push(currentEmail)
                }
            }
            
            if(invalidEmails.length > 0){
                alert('Invalid emails..Please check!\n'+invalidEmails)
                // alert(invalidEmails)
            }else{
                $('#share_to_email_form').submit();
            }
        }
    })
  });

  $(document).ready(function(){
    calculateBalance();
  });
  
  function calculateBalance(){
    var table = document.getElementById('statementtable');
    var rows = table.getElementsByTagName('tr');
    var balance = 0

    for (var i = 1; i < rows.length; i++) {
      var row = rows[i];
      if(row.style.display != 'none'){
        var amt = parseFloat(row.getElementsByTagName('td')[5].textContent);
        var type = row.getElementsByTagName('td')[1].textContent;
  
        if(type === 'INVOICE' || type === 'RECURRING INVOICE' || type === 'DEBIT NOTE' || type ==='SALES ORDER' || type === 'RETAINER INVOICE' || type === 'EMI PAID'){
          balance += amt
        }else{
          balance -= amt
        }
      }

    }
    console.log('balance==',balance)
    $('#bal').text(balance)
  }

  function filterTableByDate() {
    var start = $('#startDate').val();
    var end = $('#endDate').val();
    console.log(start,end)
    if(start != "" && end != ""){

      var startDate = new Date(start);
      var endDate = new Date(end);
      var table = document.getElementById('statementtable');
      var rows = table.getElementsByTagName('tr');
  
      for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var rowData = row.getElementsByTagName('td')[0].textContent;
  
        var rowDate = new Date(rowData);
  
        if (rowDate >= startDate && rowDate <= endDate) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      }
      calculateBalance();
    }else{
      alert('Select valid Start and End dates')
    }
  }

  $('#toggleEmailModal').on('click',function(){
    var st = $('#startDate').val();
    var end = $('#endDate').val();
    var bal = $('#bal').text();

    $('#blnc').val(bal)
    $('#startDt').val(st)
    $('#endDt').val(end)

    if((st != "" && end == "") || (st == "" && end != "")){
      alert('Please select both date inputs or select none')
      return
    }

    $('#shareToEmail').modal('toggle');
  }); 

  $('#pdfBtn').on('click',function(){
    var st = $('#startDate').val();
    var end = $('#endDate').val();
    var bal = $('#bal').text();

    $('#bln').val(bal)
    $('#startD').val(st)
    $('#endD').val(end)

    if((st != "" && end == "") || (st == "" && end != "")){
      alert('Please select both date inputs or select none')
      return
    }

    $('#pdfForm').submit();
  });

  function printSection(sectionId) {
    document.body.style.backgroundColor = '';
    var printContents = document.getElementById(sectionId).innerHTML;
    var originalContents = document.body.innerHTML;
    var $printerDiv = $('<div class="printContainer"></div>');

    $printerDiv.html(printContents); 
    $('body').append($printerDiv).addClass("printingContent"); 
    window.print(); 
    $printerDiv.remove();
    $('body').removeClass("printingContent");
  }
  var $rows = $('#statementtable tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return !~text.indexOf(val);
    }).hide();
  });
  
  document.getElementById("exportBtn").addEventListener("click", function () {
    const Table = document.getElementById("statementtable");
    const ws = XLSX.utils.table_to_sheet(Table);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    XLSX.writeFile(wb, "Expense.xlsx");
  });


  function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("statementtable");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();
        y = rows[i + 1].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();

        if (x > y) {
            shouldSwitch = true;
            break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function filterTable(row,filterValue) {
    var table1 = document.getElementById("statementtable");
    var rows1 = table1.getElementsByTagName("tr");

    for (var i = 1; i < rows1.length; i++) {
      var statusCell = rows1[i].getElementsByTagName("td")[row];

      if (filterValue == "all" || statusCell.textContent.toLowerCase() == filterValue) {
        rows1[i].style.display = "";
      } else {
        rows1[i].style.display = "none";
      }
    }
  }

  function sortAmountAscending() {
    var table = document.getElementById("statementtable");
    var rows = Array.from(table.rows).slice(1);

    rows.sort(function (a, b) {
      var amtA = parseFloat(a.cells[3].textContent);
      var amtB = parseFloat(b.cells[3].textContent);
      return amtA - amtB;
    });

    // Remove existing rows from the table
    for (var i = table.rows.length - 1; i > 0; i--) {
        table.deleteRow(i);
    }

    // Append the sorted rows back to the table
    rows.forEach(function (row) {
        table.tBodies[0].appendChild(row);
    });
  }

  
</script>

<script>
    $(document).ready(function(){
    calculateBalance();
  });
  
  function calculateBalance(){
    var table = document.getElementById('statementtable');
    var rows = table.getElementsByTagName('tr');
    var balance = 0

    for (var i = 1; i < rows.length; i++) {
      var row = rows[i];
      if(row.style.display != 'none'){
        var amt = parseFloat(row.getElementsByTagName('td')[5].textContent);
        var type = row.getElementsByTagName('td')[1].textContent;
  
        if(type === 'INVOICE' || type === 'RECURRING INVOICE' || type === 'DEBIT NOTE' || type ==='SALES ORDER' || type === 'RETAINER INVOICE' || type === 'EMI PAID'){
          balance += amt
        }else{
          balance -= amt
        }
      }

    }
    console.log('balance==',balance)
    $('#bal').text(balance)
  }




</script>

<script>
  document.getElementById('st-date').addEventListener('change', updateMinDate);
  function updateMinDate() {
      var selectedDate = document.getElementById('st-date').value;
      document.getElementById('en-date').min = selectedDate;
  }
</script>


<script>
  function shareViaWhatsApp() {
    // Replace 'Hello, this is a shared message!' with your desired message
    var message = encodeURIComponent(window.location.href);

    // Create the WhatsApp share link
    var whatsappLink = 'https://wa.me/?text=' + message;

    // Open the link in a new tab/window
    window.open(whatsappLink, '_blank');
  }
</script> 

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var principalInput = document.getElementById('principalamount');
        var interestInput = document.getElementById('interestamount');
        var totalAmountInput = document.getElementById('totalamount');
  
        function calculateTotal() {
            var principal = parseFloat(principalInput.value) || 0;
            var interest = parseFloat(interestInput.value) || 0;
            var total = principal + interest;
            totalAmountInput.value = total.toFixed();
        }
  
        principalInput.addEventListener('input', calculateTotal);
        interestInput.addEventListener('input', calculateTotal);
        calculateTotal(); 
    });
  </script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var principalInput = document.getElementById('principal_amount');
      var interestInput = document.getElementById('interest_amount');
      var totalAmountInput = document.getElementById('total_amount');

      function calculateTotal() {
          var principal = parseFloat(principalInput.value) || 0;
          var interest = parseFloat(interestInput.value) || 0;
          var total = principal + interest;
          totalAmountInput.value = total.toFixed();
      }

      principalInput.addEventListener('input', calculateTotal);
      interestInput.addEventListener('input', calculateTotal);
      calculateTotal(); 
  });
</script>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var table = document.getElementById('transactiontable');
    var rows = table.querySelectorAll('tbody tr');
    rows.forEach(function(row) {
      var cells = row.querySelectorAll('td');
      if (cells[3].innerText == 'Balance Decrease'){
        text = cells[4].innerText
        cells[4].innerText = parseFloat(-text)
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    var table = document.getElementById('statementtable');
    var rows = table.querySelectorAll('tbody tr');
    rows.forEach(function(row) {
      var cells = row.querySelectorAll('td');
      if (cells[3].innerText == 'Balance Decrease'){
        text = cells[4].innerText
        cells[4].innerText = parseFloat(-text)
      }
    });
  });
</script>



<script>
 function sorttable(col) {
    var table = document.getElementById('sidetable');
    var tbody = table.querySelector('tbody');
    var rows = Array.from(tbody.querySelectorAll('tr'));
    if (col == 1){
      rows.sort(function(a, b) {
          var balanceA = parseFloat(a.querySelector('.bal').innerText.replace(/[^\d.-]/g, ''));
          var balanceB = parseFloat(b.querySelector('.bal').innerText.replace(/[^\d.-]/g, ''));
          return balanceA - balanceB;
      });
    }else{
      rows.sort(function(a, b) {
          var nameA = a.querySelector('.name').innerText.toLowerCase();
          var nameB = b.querySelector('.name').innerText.toLowerCase();
          return nameA.localeCompare(nameB);
      });
    }
    tbody.innerHTML = '';
    rows.forEach(function(row) {
      tbody.appendChild(row);
    });
  }
</script>

<script>
  function filtertable(key) {
    var rows = document.querySelectorAll('#statementtable tbody tr');
    rows.forEach(function(row) {
        var cell = row.querySelector('.stat');
        var status = cell.innerText.trim();
        if (status === key) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
  }
</script>

<script>
  $('#alert_close').click(function(){
    $('#alert_danger').hide()
  })
</script>

<script>
  jQuery(document).ready(function($){
    $(".clickable-row").click(function (){
      window.location = $(this).data("href")
    });
  });
</script>


<script>

  function printfun(){
         var printContents = document.getElementById("Statement").innerHTML;
      var $printerDiv = $('<div class="printContainer"></div>'); // create the div that will contain the stuff to be printed
      $printerDiv.html(printContents); // add the content to be printed
      //alert(printContents);
      // $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

      window.print(); // call print
      $printerDiv.remove(); // remove the div
      $('body').removeClass("printingContent");
   }

</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script>
  function export_as_pdf() {
    const content = document.getElementById('Overview');
    html2pdf().from(content).save('statement.pdf');
  }
</script>
{% endblock %}
