{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .form-control{
        color: white;
    }

    input {
        color-scheme: dark;
    }
    
</style>


<body>
    <div class="body-wrapper">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a {% if dash_status == 0 %} href="{% url 'company_dashboard' %}" {% else %} href="{% url 'staff_dashboard' %}" {% endif %} class="text-warning-emphasis">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'company_holiday' %}" class="text-warning-emphasis">Holiday</a></li>
                  <li class="breadcrumb-item" aria-current="page">Add</li>
                </ol>
            </nav>



            <div class="row">
                <div class="col-md-7 offset-md-2 p-5" style="background-color: black;border-radius: 10px;">
                    <h1 class="text-white mb-5">Add Holiday</h1>
                    <div class="container">
                        {% for message in messages %}
                        <h5>
                            <div class="alert alert-danger mt-5">
                            {{message}}
                            </div>
                        </h5>
                        {% endfor %}
                  
                    </div>
                    <form method="post" action="{% url 'company_holiday_new_add' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row mb-4">
                        <label for="name" class="col-sm-3 col-form-label text-white">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control text-white" id="title" name="title" required>
                        </div>
                        </div>
                        <div class="form-group row mb-4">
                        <label for="start_date" class="col-sm-3 col-form-label text-white">Start Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="start_date" name="sdate" required>
                        </div>
                        </div>
                        <div class="form-group row mb-4">
                        <label for="end_date" class="col-sm-3 col-form-label text-white">End Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="end_date" name="edate" required>
                        </div>
                        </div>
                        <div class="form-group row mb-4">
                        <div class="col-sm-9">
                            <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="agree" required>
                            <label class="form-check-label text-white" for="agree">Agree to the terms and conditions</label>
                            </div>
                        </div>
                        </div>
                        <input type="number" value="{{n}}" name="destination" hidden> 
                        <div class="form-group row">
                        <div class="col-sm-9">
                            <button type="submit" class="btn" style="background-color:#db6a00;color:white">Save</button>
                            <a href="{% url 'company_holiday_new' %}" class="btn" style="background-color: #db6a00;color: white; margin-left: 5px;">Cancel</a>
                        </div>
                        </div>
                    </form>
                </div>
              </div>



</body>



{% endblock %}