{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ashikh -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<!-- htmx -->
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>

<style>
    ::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
        .card{
            background: none;
        }
        tbody tr td{
            border: none;
            border-top: none;
            border-style: none;
            color:azure;
            justify-content: center;
        }
        tbody tr:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }

        thead tr th{
            border-right: 2px solid transparent;
        }
    
        ul.image-bullets {
            list-style-type: none;
            padding-left: 30px;
        }

        ul.image-bullets li:before {
            content: "";
            background-image: url('static/images/bullet.png');
            background-size: 15px 15px;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px; 
            margin-left: 26%;
        }
        .recurpoints ul li{
            margin-bottom: 10px;
        }

        .btn:hover{
            color: black;
            font-weight: bold;
        }

        a{
            list-style: none;
            color: azure;
        }
        a:hover{
            color: rgb(218, 164, 48);
        }
        ::-webkit-scrollbar {
            width: 5px; 
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }

        ::-webkit-scrollbar-thumb {
            background: #888; 
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }

        .btn-outline-warning:hover {
            color: black !important;
        }

        .dropdown-item:hover{
            cursor: pointer;
        }
</style>

<style>
    .li_hover:hover{
        background-color: black;
        color: white;
    }
    .li_hover{
        background-color: transparent;
        color: gray;
    }
</style>

<div class="body-wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
              <li class="breadcrumb-item"><a class="text-warning-emphasis" >Cash & Bank</a></li>
              <li class="breadcrumb-item" aria-current="page">Cash In Hand</li>
            </ol>
        </nav>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card mb-5 p-5" style="background-color: black; border-radius: 1vh;">
                    <h1 style="color: white; font-weight: bolder;">Cash In Hand</h1><br>
                    {% for message in messages %}
                    <h5>
                      <div class="alert alert-danger message text-center" style="color: black;" id="alert_danger">
                        {{ message }}
                        <a type="button" id="alert_close" class="close" data-dismiss="alert" aria-label="Close" style="float: right;">
                            <span aria-hidden="true" style="font-size: large; color: #68020F;">&times;</span>
                        </a>
                      </div>
                    </h5>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-end align-items-start gap-2">
                            <input class="form-control text-dark bg-light" type="text" id="search" placeholder="Search..." style="border: 2px solid #ffae1f;">
                            <a class="btn text-center btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            role="button" style="color: #ffae1f; width: 25%;">
                            <i class="fa fa-sort mt-1 " style="font-size: small;"></i>
                            </a>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item text-black" onclick="sortTable(0)" >All</a>
                                <a class="dropdown-item text-black" onclick="sortTable(3)">Name</a>
                                <a class="dropdown-item text-black" onclick="sortTableByAmount()">Amount</a>
                            </div>
                        </div>
                        
                        <div class="col-md-3"></div>

                        <div class="col-md-5 d-flex justify-content-end align-items-start gap-1" >
                            <!-- <a class="btn text-center btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            role="button" style="color: #ffae1f; width: 22%;">
                            <i class="fa fa-filter mt-1" style="font-size: small;"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-black" onclick="filterTable(6,'all')">All</a>
                                <a class="dropdown-item text-black" onclick="filterTable(6,'draft')">Draft</a>
                                <a class="dropdown-item text-black" onclick="filterTable(6,'saved')">Saved</a>
                            </div> -->
                            <a style=" border-radius: 5px; height: 2.4rem; display: flex; align-items: center;" href="{% url 'cash_in_hand_graph' 'period' %}" class="btn btn-outline-warning">
                                <i class="fa fa-bar-chart p-1" style="font-size: large;"></i>
                                <span style="font-size: 2vh; margin-left: 0.5rem;" class="text-center">Graph</span>
                            </a>
                            <a style=" border-radius: 5px; height: 2.4rem; display: flex; align-items: center;" href="{% url 'cash_in_hand_statement' %}" class="btn btn-outline-warning" >
                              <i class="fa fa-file p-1" style="font-size: large;"></i>
                              <span style="font-size: 2vh; margin-left: 0.5rem;" class="text-center">Statement</span>
                            </a>
                            <a href="{% url 'cash_in_hand_add' %}"  class="btn text-center btn-outline-warning" role="button" style="color: #ffae1f; width: 30%;">
                                Cash &nbsp; <i class="fa fa-plus mt-1"></i>
                            </a> 
                        </div>
    
                    </div>
                        <div class="row mt-4">
                        
                            <div class="col-md-12" >
                                <div class="row">
                                    <div class="d-md-flex justify-content-between">
                                        <form action="{% url 'cash_in_hand_listout' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="d-sm-flex">
                                                <input class="form-control border-warning " style="background-color: rgb(24, 24, 24);" value="{{ start_date|date:'Y-m-d' }}"  type="date"  name="start_date" id="start_date" required>
                                                <label class="fs-5 p-2 text-warning" for="">To</label>
                                                <input class="form-control border-warning" style="background-color: rgb(24, 24, 24);" value="{{ end_date|date:'Y-m-d' }}" type="date" name="end_date" id="end_date" required>
                                                <button class="btn btn-outline-warning ms-2"  type="submit">Filter</button>
                                            </div>
                                        </form>

                                        <div class="d-flex justify-content-end">
                                            <h1 class="text-warning"><strong>BALANCE: <span class="ps-3">{{ total_balance|floatformat:2 }}</span></strong></h1>
                                        </div>
                                    </div>
                            </div>
                            <!-- <div class="col-md-6">
                                
                            </div> -->
                            
                        
                        </div>

                    <div class="container-fluid table-responsive-md ">
                        <br>
                        <table class="table mt-4" id="creditnotenumber_table">
                            <thead>
                                <tr class="text-center text-white">
                                    <th>#</th>
                                    <th>DATE</th>
                                    <th>TYPE</th>
                                    <th>NAME</th>
                                    <th>AMOUNT</th>
                                    <th>ACTION</th>
                                    <!-- <th>STATUS</th>
                                    <th>BALANCE</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in all_query_set %}
                                <!-- <tr class='clickable-row text-center' onclick="window.location.href=`{% url 'overview_creditnote' i.id %}`"></tr> -->
                                <tr class='clickable-row text-center'>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="cash_date">{{ i.object_date|date:'Y-m-d' }}</td>
                                    <td>{{ i.object_type }}</td>
                                    <td>{{ i.object_name }}</td>
                                    <td class="amnt">{{ i.object_amount|floatformat:2 }}</td>
                                    <td>
                                        {% if i.object_action %}
                                        <a onclick="$(`#{{ forloop.counter }}action_bord`).toggle()"><i class="fa fa-ellipsis-v text-light"></i></a>
                                        <div onclick="$(this).hide()" class="position-relative check_visible" id="{{ forloop.counter }}action_bord" style="display: none;user-select: none;">
                                            <div class="position-absolute start-50 translate-middle-x">
                                                <div class="card bg-dark text-start border-light">
                                                    <ul class="py-2 pb-1 m-0">
                                                        <a href="{% url 'cash_in_hand_adjust_cash_edit_page' i.id %}"><li class="px-4 li_hover">EDIT</li></a>
                                                        <a href="{% url 'cash_in_hand_delete' i.id %}" onclick="return confirm('Do you want to delete ')"><li class="px-4 li_hover">DELETE</li></a>
                                                        <a onclick="get_history(`{{ i.id }}`)"
                                                        hx-trigger="click delay:0s"
                                                        hx-target="#target1"
                                                        hx-get="{% url 'get_cash_history' i.id %}"
                                                        ><li class="px-4 li_hover">HISTORY</li></a>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <i class="fa fa-ellipsis-v" style="color: #494949;"></i>
                                        {% endif %}
                                    </td>
                                    <!-- <td>{{ a.status }}</td>
                                    <td>{{ a.balance }}</td> -->
                                </tr>
                                {%endfor%}  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Import Estimate modal -->
<div class="modal fade" id="importModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #3b3b3b;">
            <div class="modal-header">
                <h3 class="modal-title text-light" id="exampleModalLabel">Import Recurring Invoice</h3>
                <button type="button" class="btn close text-white" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: x-large;">&times;</span>
                </button>
              </div>
            <div class="modal-body mx-3 rounded-1" style="background-color: #000;">
                <div class="file_instructions">
                    <div class="alert alert-danger" role="alert">
                        <span class="fw-bolder">IMPORTANT:</span>
                        <p>File should have 2 sheets named 'recurring_invoice' & 'items' and column name & order should be in the given formate(Uppercase).</p>
                        <p class="fw-bolder">Recurring Invoice sheet -  SLNO* , CUSTOMER NAME* , DATE , PLACE OF SUPPLY* , CREDIT NOTE NO.* , INVOICE TYPE , INVOICE NO. , DESCRIPTION , SUB TOTAL* , IGST* , CGST* , SGST* , TAX AMOUNT* , ADJUSTMENT , SHIPPING CHARGE , GRAND TOTAL* , ADVANCE , BALANCE*, PAYMENT METHOD , CHEQUE^ , UPI^ , BANK^   </p>
                        <p class="fw-bolder">Items sheet - CN NO**, PRODUCT*, HSN*, QUANTITY*, PRICE*, TAX PERCENTAGE*, DISCOUNT, TOTAL* </p>
                        <p>* All required columns should be filled.</p>
                        <p>** <b>CN NO</b> is <b>SLNO</b> of credit note</p>
                        <p>^ <b>PAYMENT METHOD</b> should either be <b>Cash, Cheque, UPI or Bank name</b> and only fill details in the selected option , leave other columns blank and if the method is by cash leave all the columns blank.</p>
                        <p>Place of supply should be in the give format with state code('Ex: [KL]-Kerala') or '[OT]-Other Territory'.</p>
                        <p>Date format should be 'YYYY-MM-DD' or 'DD-MM-YYYY'.</p>
                    </div>
                </div>
                <div class="sample_file mb-2">
                    <a href="{% url 'downloadSampleImportFile_creditnote' %}" class="fw-bolder btn btn-outline-warning btn-sm">Download Sample File</a>
                </div>
                <form id="importEstimateForm" action="{% url 'importExcel_creditnote' %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="excel_file" class="form-label text-white">File</label>
                        <input id="excel_file" class="form-control" type="file" name="excel_file" required>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <input id="submit_import_excel" value="IMPORT" class="btn btn-outline-warning" type="submit">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<!-- modal_history -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: #3b3b3b;">
        <div class="modal-header">
          <h3 class="modal-title text-light" id="exampleModalLabel">HISTORY</h3>
          <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
            <span data-bs-dismiss="modal" aria-hidden="true" style="font-size: x-large;">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3" style="background-color: #000000;">
          <div class="container-fluid history-table-container" >
            <div id="target1">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" onclick="$('#historyModal').modal('hide')" data-dismiss="modal">Close</button>
  
        </div>
      </div>
    </div>
  </div>
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    $('#alert_close').click(function(){
      $('#alert_danger').hide()
    })

    $(document).ready(function() {
        var $rows = $('#creditnotenumber_table tbody tr');
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    });

    $('.dropdown-toggle').dropdown();

    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
        window.location = $(this).data("href");
        });
    });

    function sorttable(col) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("creditnotenumber_table");
        switching = true;
        
        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("td")[col].textContent.toLowerCase();
                y = rows[i + 1].getElementsByTagName("td")[col].textContent.toLowerCase();

                if (x > y) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function filtertable(key) {
        var input, filter, table, tr, td, i, txtValue;
        table = document.getElementById("creditnotenumber_table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[7];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase() == key.toUpperCase()) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function exportToExcel() {
        var table = document.querySelector('#creditnotenumber_table');
        var ws = XLSX.utils.table_to_sheet(table);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, 'Credit_Note.xlsx');
    }

    function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("creditnotenumber_table");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();
        y = rows[i + 1].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();

        if (x > y) {
            shouldSwitch = true;
            break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function filterTable(row,filterValue) {
    var table = document.getElementById("creditnotenumber_table");
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
      var statusCell = rows[i].getElementsByTagName("td")[row];

      if (filterValue == "all" || statusCell.textContent.toLowerCase() == filterValue) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }
</script>

<script>
    function sortTableByAmount() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = $("#creditnotenumber_table");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.find("tr");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = parseFloat($(rows[i]).find(".amnt").text());
                y = parseFloat($(rows[i + 1]).find(".amnt").text());

                if (x > y) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                $(rows[i]).insertAfter(rows[i + 1]);
                switching = true;
            }
        }
    }

    $(document).ready(function(){
        $('#date_filter_form').submit(function(event){
            event.preventDefault();
            var startDate = new Date($('#start_date').val())
            var endDate = new Date($('#end_date').val())
            $('.cash_date').each(function(){
                var ele = new Date($(this).text())
                if(startDate<=ele&&endDate>=ele)
                {
                    $(this).parent().show()
                }
                else
                {
                    $(this).parent().hide()
                }
                
            })

        });
    })
    // $(document).ready(function(){
    //     $(document).on('click',function(){
    //         if($('.check_visible').css('display')==="none")
    //         {
    //             alert('hide')
    //         }
    //         else{
    //             alert('show')
    //             $('.check_visible').show()
    //         }
    //     })
    // })
    function get_history(n){
        $.ajax({
            url: `{% url 'get_cash_history' 0 %}`.replace(0,n),
            type: "GET",
            success:function(response){
                $('#historyModal').modal('show')
            },
            error:function(error){

            }
        })
    }
</script>

{%endblock%}
