                                                <!-- CREATEED BY TINTO MT -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
    
        th, td {
            border: 1px solid black; /* Set border color to black */
            padding: 8px;
            text-align: left;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="row" id="div-to-print"
    style="background-color: #fffefe;  height: auto; margin-left:1px; margin-right: 1rem; ">

    <div class="row text-center">
      <h2 style="color: #000000;"><br>{{selacc.account_name}}
        <hr>
      </h2>
    </div>    

  
      <style>
          .dashed-line {
            border-top: 1px dashed #000; /* Set color and style */
            margin: 20px 0; /* Adjust margin for spacing */
          }
        </style>
        
        <div class="dashed-line"></div>

        <H3>Recent Transactions</H3>
        <br>
        <div></div>
        <div class="row mt-3">
          <div class="col-5"><label class="text-dark" for=""></label></div>
          <div class="col-7">
            <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;"></p>
          </div>
        </div>
      <table class=" table table-hover table-bordered " id="table1" style="border-color: #000000;color: rgb(0, 0, 0);">
          <thead>
              <tr>

                <th id="th" style="text-align: center;">Date</th>
                <th id="th" style="text-align: center;">Type</th>
              
                <th id="th" style="text-align: center;">Debit</th>
                <th id="th" style="text-align: center;">Credit</th>
  
              
              </tr>
            </thead>
            <tbody>
           
              <tr style="color: black;">
                <td style="text-align: center;"></td>
                <td style="text-align: center;"> </td>
              
                <td style="text-align: center;">  
                </td>
                <td style="text-align: center;"></td>
              </tr>
            </tbody>
      </table><br><br>
    
      <div class="row mt-3">
        <div class="col-5"><label class="text-dark" for=""></label></div>
        <div class="col-7">
          <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;"></p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5"><label class="text-dark" for=""></label></div>
        <div class="col-7">
          <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;"><br>
    
             </p>
        </div>
      </div>
    
      <div class="row mt-3">
        <div class="col-5"><label class="text-dark" for=""></label></div>
        <div class="col-7">
          <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;"></p>
        </div>
      </div>
    </div>
  
  </div>

  

</div>
</body>
</html>